<?xml version "1.0"?>
<model>
    <name>pi_cam</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Bugra</name>
        <email>bugra@example.com</email>
    </author>
    <description>
        Raspberry Pi Camera Model for Gazebo
    </description>
</model>
